@font-face /* définition de la police Raleway */
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

/* mise en forme éléments généraux */
html, body
{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
body
{
    font-family: 'Raleway';
    margin: 50px;    
}

/* mise en forme header 
Mise en forme des liens */
a
{
    text-decoration: none;
    outline: none;
}
a.lien_nav:link, a.lien_nav:visited
{
    color: black;
}
a.lien_nav:hover, a.lien_nav_inscription:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}
a.lien_nav_inscription:link, a.lien_nav_inscription:visited
{
    font-weight: bold;
    color: #0065FC;
}
/* Disposition header
/* mise en forme logo */
#logo
{
    max-height: 50px;
}
/*  mise en forme menu de navigation */ 
#disposition_header
{
    display: flex;
    justify-content: space-between;
}
#disposition_menu
{
    list-style-type: none;
    font-size: 15px;
    max-width: 450px;
    padding-inline-start: 0px;
}
.puce_menu
{
    display: inline;
    padding-left: ;
}
.menu_hebergement
{
    ;
}

/* mise en forme corps de la page 
 lignes de présentation du site */
 #section_information_recherche
 {
     display: flex;
     flex-direction: column ;
     margin-bottom: 2%;
 }
.introduction_site
{
    padding: 0px;
    margin: 0px;
    max-height: 20px;
    line-height: 15px ;
    max-width: 600px;
}

/* cadre recherche */
.recherche
{
    display: flex; 
    flex-direction: row; 
    max-height: 50px;
}
.fa-map-marker-alt /* icone map sur la recherche */
{
    background-color: #F2F2F2;
    max-width: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.nomville
{
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    border-right: none;
    max-width: 235px;
}
.envoi
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    max-width: 135px;
}
.envoi_petite_resolution
{
    display: none;
}

/* cadre filtres */ 
.filtres
{
    margin-top: 2%;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /* icones des filtres */
{
    height: 30px; width: 40px;
    border-radius: 20px;
    color: #0065FC;
    background-color: #deebff ;
    text-align: center;

}
.ecritfiltres /* écrit des filtres */
{
    font-weight: bold;
    border: 3px #F2F2F2 solid;
    border-left: none;
    border-radius: 20px;
    text-align: center;
}
.information_filtres
{
    padding-left: 10px;
}
/* mise en page information nombres logement ville */
.fa-info-circle
{
    background-color: #0065FC;
    color: white;
    border: 1px #F2F2F2 solid ;
    border-radius: 20px;
    max-width: 20px;  
}

/* disposition cadre hébergement et hébergement populaire */
#section_hebergement_et_populaire
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 3%;
    max-height: 625px;
}
/* mise en page cadre les plus populaires */ 
.liste_populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    padding-bottom: 1%;
    max-width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#disposition_populaire_image
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 112.5%;
    font-weight: bold;
}
.fa-chart-line
{
    display: flex;
    align-self: center;
}
.img_populaire
{
    max-height: 135px;
    max-width: 135px;
    border-radius: 20px;
    clip-path: inset(0 20px 0 0);
    object-position: 50% 50%;
    padding: 2px;
}
.cadre_populaire
{
    display: flex;
    flex-direction: row;
    max-width: 350px;
    max-height: 150px;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1px 1px #F2F2F2 ;
}
.box_information_populaire
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 155px;
}
.information_prix
{
    margin: 0; padding: 0;
    font-size: 100%;
    white-space: nowrap;
}
.note_populaire
{
    font-size: 75%;
}
/* mise en forme étoiles des notes */ 
.fa-star
{
    color: #0065FC;
}
.fa-star.empty
{
    color: #F2F2F2;
}
/* mise en page cadre hebergement */
.liste_hebergement
{
    display: flex;
    flex-direction: column;
    max-width: 880px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.box_hebergement
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cadre_hebergement
{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 200px;
    background-color: white;
    border-radius: 20px;
    line-height: 6px;
    box-shadow: 1px 1px #F2F2F2 ;
}
.img_hebergement          /* .img_auberge_cannebiere, .img_hotel_port, .img_hotel_mouettes, .img_hotel_mer, .img_auberge_panier, .img_hotel_amina */
{
    max-height: 120px;
    max-width: 245px;
    border-radius: 20px;
    padding: 2px;
    clip-path: inset(0 0 20px 0);
    object-position: 50% 50%;
}
.information_hebergement
{
    padding-left: 20px;
}
.note_hebergement
{
    font-size: 100%;
}

/* mise en forme titre hebergement et hebergement populaire */
.titre_categorie
{
    font-size: 125%;
    font-weight: bold;
}
.titre_hotel_populaire
{   
    font-size: 100%;
    font-weight: bold;
}
.titre_hebergement
{
    margin: 0;
    font-size: 100%;
}


/* mise en page activités 
Mise en place de la disposition */ 
.section_activite
{
    margin-top: 3%;
    max-height: 510px;
    max-width: 1340px;
}
.activite_ville
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activite_ville_division1, .activite_ville_division2
{
    display: flex;
    flex-direction: column;
}
.box_cadre
{

}
/* Mise en place des cadres entourant les activités */ 
.cadre_activite
{
    display: flex;
    flex-direction: column;
    border: 3px #F2F2F2 solid ;
    border-radius: 20px;
    box-shadow: 1px 1px #F2F2F2 ;
}
/* Mise en forme des images */ 
.img_activite 
{
    border-radius: 20px;
    max-width: 310px;
  
}
.img_activite.vieux_port, .img_activite.parc_calanques
{
    height: 420px;
    clip-path: inset(0 0 30px 0);
    object-position: 100% 150%;
}
.img_activite.fort_pomegues
{
    height: 240px;
}
.img_activite.ile_frioul
{
    height: 170px;
}
.img_activite.dame_garde, .img_activite.parc_longchamp
{
    height: 200px;
}
/* Mise en forme des noms activités */
.nom_lieu_activite
{
    margin: 0; padding: 0;
    font-size: 100%;
    font-weight: bold;
}

/* mise en forme pied de page */
footer
{
    margin-left: -50px; margin-right: -50px; margin-bottom: -50px;
    padding: 0;
    display: flex;
    justify-content :space-around ;
    background-color: #F2F2F2;
    margin-top: 4% ;
    max-width: 1600px;
    max-height: 300px;
}
footer:nth-child(1)
{
    display: flex;
    justify-self: left;
}
.a_propos, .nos_hebergements, .assistance
{
    margin: 15px;
    padding: 15px;
    white-space: nowrap;
    line-height: 30px;
}


/* Mise en page pour les écrans inférieur à 1200px */
@media screen and (max-width: 1040px)
{
    /* modification header */
    .logo
    {
        height: 55px ;
        padding-top: 15px;
    }
    .hebergement
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        padding-top: 30px;
    }
    .activites
    {
        border-bottom: 2px #F2F2F2 solid;
        padding-top: 30px;
        padding-left: 25px;
    }
    .inscription
    {
        padding-top: 30px;
    }

    /* modification corps de la page */ 
    .introduction
    {
        line-height: initial;
    }
    .recherche
    {
        margin-top: 25px;
    }
    .envoi
    {
        display: none;
    }
    .envoi_petite_resolution
    {
        display: initial;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 10px;
        width: 35px;
    }
    .groupe_information_filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .ecritfiltres
    {
        padding: 0px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .fa-info-circle
    {
        margin-top: 165px;
    }
    .cadre_populaire
    {
        display: flex;
        flex-direction: column;
    }
    .liste_hebergement
    {
        width: 60%;
        line-height: initial;
    }
    .cadre_hebergement
    {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
    }
    .information_hebergement
    {
        white-space: nowrap;
    }
    .activite_ville
    {
        display: flex;
        flex-direction: column;
    }
    .box_cadre
    {
        width: 90%;
    }
    .img_activite
    {
        max-height: 200px;
    }
    footer
    {
        padding: 0; margin: 0;
        display: flex;
        flex-direction: column;
        line-break: initial;
        width: 90%;
        text-align: center;
    }
    .a_propos, .nos_hebergements
    {
        white-space: nowrap;
        margin-bottom: -30px;
    }
    .assistance
    {
        
        margin-bottom: -20px;
    }
}


@media screen and (max-width: 850px) /* modification supplémentaire */
{
    /* modification header */
    .logo
    {
        height: 40px ;
        padding-top: 15px;
    }
    .hebergement
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        padding-top: 80px;
    }
    .activites
    {
        border-bottom: 2px #F2F2F2 solid;
        padding-top: 80px;
        padding-left: 25px;
    }
    .inscription
    {
        padding-top: 25px;
    }
    /* modification body */
    .fa-info-circle
    {
        margin-top: 240px;
    }
    .liste_populaire
    {
        width: 90%;
    }
    .cadre_populaire
    {
        display: flex;
        flex-direction: row;
    }
    .note_populaire
    {
        margin-top: 20px;
    }
    .liste_hebergement
    {
        width: 90%;
        margin-top: 25px;
        background-color: initial;
    }
    .box_hebergement
    {
        display: flex;
        flex-direction: column;
    }
    .cadre_hebergement
    {
        width: 100%;
        margin-left: -25px;
        border: 2px #F2F2F2 solid;
        box-shadow: 3px 3px #F2F2F2;
    }
    .img_hebergement
    {
        height: 130px;
        clip-path: inset(0 0 20px 0);
    }
    .information_hebergement
    {
        padding-left: 30px;
    }
    footer
    {
        text-align: right;
    }
}