@font-face /* définition de la police Raleway */
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

/* mise en forme éléments généraux */
html, body
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Raleway';
    max-width: 95%;
    margin: 10px;
    margin-left: 50px;
}

/* mise en forme header 
Mise en forme des liens */
a
{
    text-decoration: none;
    outline: none;
}
a:link
{
    color: #0065FC;
}
a:hover
{
    font-weight: bold;
}
a:visited
{
    color: #0065FC;
}
a.lienhypertexteactivites:link
{
    color: black;
}
a.lienhypertexteactivites:visited
{
    color: black;
}
/* mise en forme logo */
.logo
{
    height: 75px;
    float: left;
    padding-top: 30px;
}
/*  mise en forme menu de navigation */ 
nav
{
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;    
}
.hebergement
{
    border-top: 3px #0065FC solid;
    margin-right: 60px ;
    padding-top: 50px;   
    width: 200px; 
    text-align: center;
}
.activites
{
    margin-right: 60px;
    padding-top: 53px;
}
.inscription
{
    padding-top: 53px;
    margin-right: 10px;
    color: #0065FC;
    font-weight: bold;
}

/* mise en forme corps de la page 
 lignes de présentation du site */
.introduction
{
    clear: both;
    margin-top: 50px;
    line-height: 15px;
}

/* cadre recherche */
.recherche
{
    display: flex;  
    height: 40px ;
}
.fa-map-marker-alt /* icone map sur la recherche */
{
    background-color: #F2F2F2;
    width: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 7px;
}
.nomville
{
    font-weight: bold;
    border: 1px #F2F2F2 solid;
    border-right: none;
    padding-left: 10px;
    font-size: 1em;
}
.envoi
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 115px;
}
.envoi_petite_resolution
{
    display: none;
}

/* cadre filtres */ 
.filtres
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 20px;
    font-size: 1.1em;
    height: 5px;
}
.titrefiltres
{
    padding-top: 15px;
    margin-right: 25px;
}
.groupe_information_filtres
{
    margin-top: 0x;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /* icones des filtres */
{
    height: 30px; width: 40px;
    border-radius: 20px;
    color: #0065FC;
    background-color: #deebff ;
    text-align: center;
    padding-top: 15px;
}
.ecritfiltres /* écrit des filtres */
{
    font-size: 1em;
    font-weight: bold;
    border: 3px #F2F2F2 solid;
    border-left: none;
    border-radius: 20px;
    width: auto;
    text-align: center;
    padding-top: 10px; padding-bottom: 10px;
    padding-right: 20px;
    margin-right: 25px; 
}
.information_filtres
{
    padding-left: 10px;
}
/* mise en page information nombres logement ville */
.fa-info-circle
{
    background-color: #0065FC;
    color: white;
    border: 1px #F2F2F2 solid ;
    border-radius: 20px; 
    margin-top: 50px;   
}

/* mise en page cadre hebergement */
.liste_hebergement
{
    display: flex;
    flex-direction: column;
    width: 68%;
    float: left;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 21px;
}
.img_hebergement          /* .img_auberge_cannebiere, .img_hotel_port, .img_hotel_mouettes, .img_hotel_mer, .img_auberge_panier, .img_hotel_amina */
{
    height: 95px;
    border-radius: 20px;
    clip-path: inset(0 0 10px 0);
}
.box_hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}
.cadre_hebergement
{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    padding-bottom: 7px;
    margin: 15px;
    margin-left: 25px;
    justify-content: space-between;
    width: 28%;
    line-height: 6px;
    box-shadow: 1px 1px #F2F2F2 ;
}
.information_hebergement
{
    padding-left: 20px;
}

/* mise en forme titre hebergement et hebergement populaire */
h1
{
    font-size: 25px;
}
.titre_h2
{
    font-size: 16px;
}

/* mise en page cadre les plus populaires */ 
.liste_populaire
{
    display: flex;
    flex-direction: column;
    width: 25%;
    float: right;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 15px;
}
.fa-chart-line
{
    text-align: right; 
}
.img_populaire
{
    height: 111px;
    border-radius: 10px;
    clip-path: inset(0 10px 0 0);
    padding: 6px;
    width: 140px;
}
.cadre_populaire
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px #F2F2F2 ;
}
.box_information_populaire
{
    display: flex;
    flex-direction: column;
}
.note_populaire
{
    margin-top: 10px;
}
/* mise en forme étoiles des notes */ 
.fa-star
{
    color: #0065FC;
}
.fa-star.empty
{
    color: #F2F2F2;
}

/* mise en page activités 
Mise en place de la disposition */ 
.section_activite
{
    clear: both;
    padding-top: 30px;
}
.activite_ville
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activite_ville_division1, .activite_ville_division2
{
    display: flex;
    flex-direction: column;
}
.box_cadre
{
    width: 24%;
}
/* Mise en place des cadres entourant les activités */ 
.cadre_activite
{
    display: flex;
    flex-direction: column;
    border: 3px #F2F2F2 solid ;
    border-radius: 20px;
    box-shadow: 1px 1px #F2F2F2 ;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
/* Mise en forme des images */ 
.img_activite 
{
    border-radius: 20px;
    clip-path: inset(0 0 50px 0);
}
.img_activite.vieux_port, .img_activite.parc_calanques
{
    height: 500px;
}
.img_activite.fort_pomegues
{
    height: 275px;
}
.img_activite.ile_frioul
{
    height: 200px;
}
.img_activite.dame_garde, .img_activite.parc_longchamp
{
    height: 240px;
}
/* Mise en forme des noms activités */
.nom_lieu_activite
{
    font-size: 15px;
    padding-left: 20px;
}

/* mise en forme pied de page */
footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    margin-top: 20px ;
}
.a_propos, .nos_hebergements, .assistance
{
    margin: 15px;
    padding: 15px;
    padding-right: 300px;
    line-height: 30px;
}


/* Mise en page pour les écrans inférieur à 1200px */
@media screen and (max-width: 1200px)
{
    /* modification header */
    .logo
    {
        height: 55px ;
        padding-top: 15px;
    }
    .hebergement
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        padding-top: 30px;
    }
    .activites
    {
        border-bottom: 2px #F2F2F2 solid;
        padding-top: 30px;
        padding-left: 25px;
    }
    .inscription
    {
        padding-top: 30px;
    }

    /* modification corps de la page */ 
    .introduction
    {
        line-height: initial;
    }
    .recherche
    {
        margin-top: 25px;
    }
    .envoi
    {
        display: none;
    }
    .envoi_petite_resolution
    {
        display: initial;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 10px;
        width: 35px;
    }
    .groupe_information_filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .ecritfiltres
    {
        padding: 0px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .fa-info-circle
    {
        margin-top: 165px;
    }
    .cadre_populaire
    {
        display: flex;
        flex-direction: column;
    }
    .liste_hebergement
    {
        width: 60%;
        line-height: initial;
    }
    .cadre_hebergement
    {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
    }
    .information_hebergement
    {
        white-space: nowrap;
    }
    .activite_ville
    {
        display: flex;
        flex-direction: column;
    }
    .box_cadre
    {
        width: 90%;
    }
    .img_activite
    {
        max-height: 200px;
    }
    footer
    {
        padding: 0; margin: 0;
        display: flex;
        flex-direction: column;
        line-break: initial;
        width: 90%;
        text-align: center;
    }
    .a_propos, .nos_hebergements
    {
        white-space: nowrap;
        margin-bottom: -30px;
    }
    .assistance
    {
        white-space: nowrap;
        margin-bottom: -20px;
    }
}


@media screen and (max-width: 850px) /* modification supplémentaire */
{
    /* modification header */
    .logo
    {
        height: 40px ;
        padding-top: 15px;
    }
    .hebergement
    {
        border-top: none;
        border-bottom: 2px #0065FC solid;
        padding-top: 80px;
    }
    .activites
    {
        border-bottom: 2px #F2F2F2 solid;
        padding-top: 80px;
        padding-left: 25px;
    }
    .inscription
    {
        padding-top: 25px;
    }
    /* modification body */
    .fa-info-circle
    {
        margin-top: 240px;
    }
    .liste_populaire
    {
        width: 90%;
    }
    .cadre_populaire
    {
        display: flex;
        flex-direction: row;
    }
    .note_populaire
    {
        margin-top: 20px;
    }
    .liste_hebergement
    {
        width: 90%;
        margin-top: 25px;
        background-color: initial;
    }
    .box_hebergement
    {
        display: flex;
        flex-direction: column;
    }
    .cadre_hebergement
    {
        width: 100%;
        margin-left: -25px;
        border: 2px #F2F2F2 solid;
        box-shadow: 3px 3px #F2F2F2;
    }
    .img_hebergement
    {
        height: 130px;
        clip-path: inset(0 0 20px 0);
    }
    .information_hebergement
    {
        padding-left: 30px;
    }
    footer
    {
        text-align: right;
    }
}