@font-face /* définition de la police Raleway */
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

/* mise en forme éléments généraux */
body
{
    font-family: 'Raleway';
    max-width: auto;
    margin: 10;
}

/* mise en forme header */
a
{
    text-decoration: none;
    outline: none;
}
a:link
{
    color: #0065FC;
}
a:hover
{
    font-weight: bold;
}
a:visited
{
    color: #0065FC;
}
a.lienhypertexteactivites:link
{
    color: black;
}
.logo
{
    height: 75px;
    float: left;
    padding-top: 30px;
}
nav
{
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;    
}
.hebergement
{
    border-top: 3px #0065FC solid;
    margin-right: 60px ;
    padding-top: 50px;   
    width: 200px; 
    text-align: center;
}
.activites
{
    margin-right: 60px;
    padding-top: 53px;
}
.inscription
{
    padding-top: 53px;
    margin-right: 10px;
    color: #0065FC;
    font-weight: bold;
}

/* mise en forme corps de la page 
cadre autour de la recherche et des filtres  */
.introduction
{
    clear: both;
}
.recherche
{
    display: flex;  
    height: 30px ;
}
.fa-map-marker-alt
{
    background-color: #F2F2F2;
    width: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
}
.nomville
{
    font-weight: bold;
    border: 1px #F2F2F2 solid;
    border-right: none;
    padding-left: 10px;
}
.envoie
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    font-weight: bold;
}