@font-face /* définition de la police Raleway */
{
    font-family: 'Raleway';
    src: url(Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

/* mise en forme éléments généraux */
body
{
    font-family: 'Raleway';
    max-width: auto;
    margin: 10;
}

/* mise en forme header */
a
{
    text-decoration: none;
    outline: none;
}
a:link
{
    color: #0065FC;
}
a:hover
{
    font-weight: bold;
}
a:visited
{
    color: #0065FC;
}
a.lienhypertexteactivites:link
{
    color: black;
}
a.lienhypertexteactivites:visited
{
    color: black;
}
.logo
{
    height: 25px;
    float: left;
    padding-top: 5px;
}
nav 
{
    font-size: x-small;
    display: flex ;
}
.hebergement
{
    margin-top: px;   
    text-align: center;
    border-top: none;
    border-bottom: 2px #0065FC solid;
}
.activites
{
    margin-right: 60px;
    padding-top: 53px;
    border-bottom: 2px #F2F2F2 solid;
}
.inscription
{
    padding-top: 15px;
    color: #0065FC;
    font-weight: bold;
}

/* mise en forme corps de la page 
cadre autour de la recherche et des filtres  */
.introduction
{
    clear: both;
}
.recherche
{
    display: flex;  
    height: 30px ;
}
.fa-map-marker-alt /* icone map sur la recherche */
{
    background-color: #F2F2F2;
    width: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
}
.nomville
{
    font-weight: bold;
    border: 1px #F2F2F2 solid;
    border-right: none;
    padding-left: 10px;
    font-size: 1em;
}
.envoie
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 115px;
}
.filtres
{
    margin-right: 20px;
    font-size: 1.1em;
    height: 50px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /* icones des filtres */
{
    margin-right: 10px;
    height: 30px; width: 30px;
    border-radius: 20px;
    color: #0065FC;
    background-color: #deebff ;
    text-align: center;
}
.ecritfiltres /* écrit des filtres */
{
    font-size: 1em;
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    width: 130px;
    text-align: center;
}






/* mise en forme pied de page */
footer
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 20px ;
}
/* .a_propos, .nos_hebergements, .assistance
{
    margin: 15px;
    padding-bottom: 5px;
}